:root {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  & .title {
    font-size: 2rem;
    color: white;
  }

  & .container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
}
